header{
    height:550px;
    background-image:url('https://cdn.pixabay.com/photo/2018/05/26/01/21/wall-3430446_1280.jpg');
    background-size : cover;
    }

body{
    background-color:#F9FFFF;
}

.headerTitle{
    color:#F9FFFF;
    font-size:50px;
    margin-top:136px;
    margin-left:50px;
    float: left;
}

.headerContent{
    color:#F9FFFF;
    font-size:12px;
    margin-top:150px;
    margin-left:120px;
    float: left;
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: .2em;
}

h1, h3{
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: .2em;
}

.post img{
    width:290px;
    height:300px;
    display: block;
    margin: 0px auto;
}

.post div{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    color: #454545;
    letter-spacing: .2em;
    text-align:center;
   }

.post_location div{

    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    color: #454545;
    letter-spacing: .2em;
    text-align:left;

}




.post_location img{
    width:700px;
    height:400px;
}

.asideContent div h3{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 30px;
    color: #454545;
    font-weight:bold;
    letter-spacing: .2em;
    text-align:left;

}

.asideContent {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 25px;
    color: #454545;

    letter-spacing: .2em;
    text-align:left;

}